<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>bcom</title>
    <link rel="stylesheet" href="style.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
      <header>
<div class="nav container">
    <a href="#" class="logo">KaHi's Retail Store</a>
    <!--cart icon-->
    <i class="bx bx-cart" id="cart-icon"></i>
</div>
      </header>
<!--shop-->
<section class="shop container">
    <h2 class="section-title">Shop Products</h2>
    <!--content-->
    <div class="shop-content">
        <!--Box 1 -->
        <div class="product-box">
             <img src="img/product1.jpg" alt="product-img">
            <h2 class="product-title">TROWEL</h2>
            <span class="price">Ksh 350</span>
            <i class="bx bx-cart add-cart"></i>

        </div>
        <div class="product-box">
            <img src="img/product2.jpg" alt="product-img">
            <h2 class="product-title">ROLLERS</h2>
            <span class="price">Ksh 200</span>
            <i class="bx bx-cart add-cart"></i>

        </div>
        <div class="product-box">
            <img src="img/product3.jpg" alt="product-img">
            <h2 class="product-title">STEEL-FLOAT</h2>
            <span class="price">Ksh 400</span>
            <i class="bx bx-cart add-cart"></i>

        </div>
    </div>

</section>

</body>
</html>